body{
	background-image: url("/bgimages/background1.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}

#main_body{
	width: 70%;
	height: calc(100% - 40px);
	margin: 0 auto;
	margin-top: 40px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: white;
}

#main_body_table{
	width: 100%;
	#table-layout: fixed;
	text-align: left;
	min-height: calc(100% - 52px);
	margin-top: -20px;
}

#main_body_table td:not(.exempt_base){
	vertical-align: top;
	padding-top: 20px;
	text-align: left;
}

#body_left_space{
	padding: 0 20px;
	padding-top: 20px;
	width: 300px;
	border-right: 1px solid #DDDDDD;
}

#body_center_space{
	padding: 0 20px;
}

#body_right_space{
	padding: 0 20px;
	width: 300px;
	border-left: 1px solid #DDDDDD;
}
