#thread_poster_div{
    float: left;
    margin-right: 5px;
    width: 140px;
}
#thread_actions{
    margin-top: -12px;
    margin-bottom: 18px;
}
#thread_reply{
    max-width: 65%;
    margin: 18px auto;
    display: none;
}
ol, ul{
    margin-bottom: 0px;
}

.thread_main_body_div{
    position: relative;
}
.reply_actions_div{
    position: absolute;
    bottom: 4px;
    right: 6px;
}

.thread_posted_date{
    font-size: 12px;
    color: grey;
}

.reply2reply_main_div{
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0px;
    margin-top: -14px;
    margin-bottom: 10px;
}
.reply2reply_title_div{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.reply2repy_body_div{
    padding: 10px;
}
