#thread_poster_div{
    float: left;
    margin-right: 30px;
}
#thread_actions{
    margin-top: -12px;
    margin-bottom: 18px;
}
#thread_reply{
    max-width: 65%;
    margin: 18px auto;
    display: none;
}
ol, ul{
    margin-bottom: 0px;
}

.thread_main_body_div{
    position: relative;
}
.reply_actions_div{
    position: absolute;
    bottom: 4px;
    right: 6px;
}
